<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ctn.commonauthentication.util.AppraisalRequestMapper">

    <resultMap id="AppraisalID" type="com.ctn.commonauthentication.dto.AppraisalID">
        <id column="appraisalid"/>
        <id property="content" column="appraisalid"/>
    </resultMap>

    <resultMap id="Customer" type="com.ctn.commonauthentication.dto.Customer">
        <id column="appraisalid"/>
        <result property="name" column="customer_name"/>
        <result property="post_number" column="customer_post_number"/>
        <result property="prefecture" column="customer_prefecture"/>
        <result property="municipalities" column="customer_municipalities"/>
        <result property="address" column="customer_address"/>
        <result property="address_detail" column="customer_address_detail"/>
        <association property="phone">
            <id column="appraisalid"/>
            <result property="content" column="customer_phone"/>
        </association>
        <association property="email">
            <id column="appraisalid"/>
            <result property="content" column="customer_email"/>
        </association>
    </resultMap>

    <resultMap id="AssessmentDateList" type="com.ctn.commonauthentication.dto.AssessmentDateList">
        <id column="appraisalid"/>
        <collection property="content" ofType="com.ctn.commonauthentication.dto.CTNDateTime">
            <id column="assessment_date_id"/>
            <result property="content" column="assessment_date"/>
        </collection>
    </resultMap>

    <resultMap id="AssessedInvoice" type="com.ctn.commonauthentication.entity.AssessedInvoice">
        <id column="appraisalid" property="appraisalId" />
        <result column="shopid" property="shopId" />
        <result column="assessed_datetime" property="assessedDateTime" />
        <result column="email_sent_time" property="emailSendTime" />
        <result column="draft_email_sent_time" property="draftEmailSendTime" />
        <result column="assessed_ex" property="ex" />
        <result property="assessedStatus" column="assessed_status"/>
        <result property="reject" column="is_rejected_by_shop"/>
    </resultMap>

    <resultMap id="Car" type="com.ctn.commonauthentication.dto.Car">
        <id column="appraisalid"/>
        <result property="car_type" column="car_type"/>
        <result property="car_maker" column="car_maker"/>
        <result property="car_model_year" column="car_model_year"/>
        <result property="car_traveled_distance" column="car_traveled_distance"/>
        <result property='body_type' column="body_type" />
        <result property="inspect_remain" column="inspect_remain"/>
        <result property="car_state" column="car_state"/>
        <result property="runnable" column="runnable"/>
        <result property="wheel_drive" column="wheel_drive"/>
        <result property="fuel" column="fuel"/>
        <result property="shift" column="shift"/>
        <result property="accident" column="accident"/>
        <result property="displacement" column="displacement"/>
        <result property="body_color" column="body_color"/>
        <result property="loan" column="loan"/>
        <result property="desire_date" column="desire_date"/>
        <result property="grade" column="grade"/>
        <result property="exterior" column="exterior"/>
        <result property="scratch" column="scratch"/>
        <result property="dent" column="dent"/>
        <result property="peel" column="peel"/>
        <result property="rust" column="rust"/>
        <result property="interior" column="interior"/>
        <result property="dirt" column="dirt"/>
        <result property="tear" column="tear"/>
        <result property="air_conditioning" column="air_conditioning"/>
        <result property="smoke" column="smoke"/>
        <result property="navigation" column="navigation"/>
        <result property="auto_slide" column="auto_slide"/>
        <result property="leather_sheet" column="leather_sheet"/>
        <result property="handle_type" column="handle_type"/>
        <result property="back_monitor" column="back_monitor"/>
        <result property="sunroof" column="sunroof"/>
        <result property="wheel" column="wheel"/>

        <collection property="body_types" ofType="java.lang.String">
            <result column="body_type"/>
        </collection>
    </resultMap>

    <resultMap id="AppraisalSupplement" type="com.ctn.commonauthentication.dto.AppraisalSupplement">
        <result property="note" column="note"/>
        <result property="message_for_matching_shop" column="message_for_matching_shop"/>
        <result property="ip" column="ip"/>
        <result property="param" column="param"/>
        <result property="requestYMD" column="request_ymd"/>
    </resultMap>

    <resultMap id="OperatorAppraisal" type="com.ctn.commonauthentication.dto.OperatorAppraisal">
        <id column="appraisalid"/>
        <result property="status" column="status" typeHandler="org.apache.ibatis.type.EnumTypeHandler"/>
        <result property="type" column="type" typeHandler="org.apache.ibatis.type.EnumTypeHandler"/>
        <result property="saved_utm_param" column="saved_utm_param"></result>
        <result property="fpc" column="fpc"></result>
        <result property="isTestData" column="is_test_data" javaType="java.lang.Boolean" jdbcType="VARCHAR" ></result>
        <result property="test_email_sent" column="test_email_sent"></result>
        <result property="ip" column="ip"></result>
        <association property="appraisalid"  resultMap="AppraisalID" />
        <association property="customer" resultMap="Customer" />
        <association property="car" resultMap="Car" />
        <association property="aDates" resultMap="AssessmentDateList" />
        <association property="supplement" resultMap="AppraisalSupplement" />
        <association property="shops" resultMap="com.ctn.commonauthentication.repository.ShopMapper.AssessmentShopNames" />
        <association property="assessed" resultMap="AssessedInvoice" />

        <!--  <association property="billingData" resultMap="BillingDataInvoice" />-->
    </resultMap>

    <sql id="appraisal_columns">
      appraisal_request.appraisalid  as appraisalid ,
      appraisal_request.status  as status ,
      appraisal_request.type  as type ,
      appraisal_request.customer_phone as customer_phone,
      appraisal_request.customer_name as customer_name,
      appraisal_request.customer_email as customer_email,
      appraisal_request.customer_post_number as customer_post_number,
      appraisal_request.customer_prefecture as customer_prefecture,
      appraisal_request.customer_municipalities as customer_municipalities,
      appraisal_request.customer_address as customer_address,
      appraisal_request.customer_address_detail as customer_address_detail,
      appraisal_request.car_type as car_type,
      appraisal_request.car_maker as car_maker,
      appraisal_request.car_model_year as car_model_year,
      appraisal_request.car_traveled_distance as car_traveled_distance,
      appraisal_request.inspect_remain as inspect_remain,
      appraisal_request.car_state as car_state,
      appraisal_request.runnable as runnable,
      appraisal_request.wheel_drive as wheel_drive,
      appraisal_request.fuel as fuel,
      appraisal_request.shift as shift,
      appraisal_request.accident as accident,
      appraisal_request.displacement as displacement,
      appraisal_request.body_color as body_color,
      appraisal_request.loan as loan,
      appraisal_request.desire_date as desire_date,
      appraisal_request.grade as grade,
      appraisal_request.exterior as exterior,
      appraisal_request.scratch as scratch,
      appraisal_request.dent as dent,
      appraisal_request.peel as peel,
      appraisal_request.rust as rust,
      appraisal_request.interior as interior,
      appraisal_request.dirt as dirt,
      appraisal_request.tear as tear,
      appraisal_request.air_conditioning as air_conditioning,
      appraisal_request.smoke as smoke,
      appraisal_request.navigation as navigation,
      appraisal_request.auto_slide as auto_slide,
      appraisal_request.leather_sheet as leather_sheet,
      appraisal_request.handle_type as handle_type,
      appraisal_request.back_monitor as back_monitor,
      appraisal_request.sunroof as sunroof,
      appraisal_request.wheel as wheel,
      appraisal_request.note as note,
      appraisal_request.param as param,
      appraisal_request.message_for_matching_shop as message_for_matching_shop,
      appraisal_request.request_ymd as request_ymd,
      appraisal_request.saved_utm_param as saved_utm_param,
      appraisal_request.fpc as fpc,
      appraisal_request.test_email_sent as test_email_sent,
      appraisal_request.ip as ip
    </sql>

    <sql id="load_full_appraisal_by_id">
        select
        <include refid="appraisal_columns" />
        ,
        body_type_master.body_type as body_type,
        shops.shopid as shop_shopid,
        shops.name as shop_name,
        assessment_date.assessment_date_id as assessment_date_id,
        assessment_date.assessment_date as assessment_date
        from appraisal_request
        left outer join assessment_date on appraisal_request.appraisalid = assessment_date.appraisalid
        left outer join assessed on assessed.appraisalid = appraisal_request.appraisalid
        left outer join shops on assessed.shopid = shops.shopid
        left outer join body_type_master on appraisal_request.car_type = body_type_master.car_type
        where appraisal_request.appraisalid = #{id}
        order by appraisalid
    </sql>

    <select id="loadAppraisalById" resultMap="OperatorAppraisal">
        <include refid="load_full_appraisal_by_id" />
    </select>
</mapper>